pipeline {
    agent none
        stages {
	        stage(&apos;mvn compile&apos;) {
		            agent {
			                    docker {
					                    image &apos;scenthound/openjdk:8u181-jdk&apos;
							                    }
									                }
											            environment {
												                    pom = &quot;&quot;
														                    version = &quot;&quot;
																                }
																		            steps {
																			                    git(url:&apos;https://github.com/scenthound/hello-world&apos;)
																					                    script {
																							                        pom = readMavenPom file: &quot;pom.xml&quot;
																										                    version = pom.version.replace(&quot;-SNAPSHOT&quot;, &quot;.${currentBuild.number}&quot;)
																												                        echo &quot;POM: ${pom.version}&quot;
																															                    echo &quot;new version: ${version}&quot;
																																	                    }
																																			                    withMaven {
																																					                          sh &quot;mvn -DreleaseVersion=${version} -DdevelopmentVersion=${pom.version} -DpushChanges=false -DlocalCheckout=true -DpreparationGoal
																																								  s=initialize release:prepare release:perform -B&quot;
																																								                  }
																																										              }
																																											              }
																																												          }
																																													  }
